<div class="container">
    <h1>Stupid Coach</h1>
    <div>
        <form action="/answer" method="get">
            <input id="texty" type="text" name="question">
            <input class="btn-gradient" type="submit" value="Ask!">
        </form>
    </div>
</div>