// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body { 
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 20px;
}
a{
    text-decoration: none;
    color: white;
}
p{
    font-size: 7px;
}
.btn-gradient {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: bold;
    background: linear-gradient(#167FFB, #0F60C4);
    transition: background 0.3s ease;
    border: 1px solid #0F60C4;
    text-align: center;
    margin-top: 15px;
    opacity: 0.9;
  }
  
  .btn-gradient:hover {
    background: linear-gradient(#147EFF, #0F67DA);
    color: white;
  }

  .qa{
    text-align:left !important;
    border-left: 5px solid #bebebe;
    padding: 18px 24px;
    font-weight: lighter;
  }

  #answer {
    background-image: linear-gradient(to right, rgb(255, 233, 230), white);


  }
